In [ ]:
# for mnc_salary.csv

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

df=pd.read_csv('/content/drive/MyDrive/0.MKCE/Datasets/mnc_salary.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [ ]:
df=pd.get_dummies(df)

In [ ]:
x=df.drop(['salary_more_then_100k'],axis='columns')
y = df['salary_more_then_100k']

Index(['company_abc pharma', 'company_facebook', 'company_google',
       'job_business manager', 'job_computer programmer',
       'job_sales executive', 'degree_bachelors', 'degree_masters'],
      dtype='object')

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model=DecisionTreeClassifier()

In [ ]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [ ]:
# prediction 

y_pred=model.predict(x_test)

y_pred

array([1, 1, 0, 0])

In [ ]:
# probability of occurence 0 or 1 in place of corresponding x_test values

model.predict_proba(x_test)

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.]])

In [ ]:
# measuring the accuracy of model

from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

accuracy_score(y_test,y_pred)

0.75

In [ ]:
confusion_matrix(y_test,y_pred)

array([[1, 0],
       [1, 2]])

In [ ]:
z=classification_report(y_test,y_pred)
print(z)

              precision    recall  f1-score   support

           0       0.50      1.00      0.67         1
           1       1.00      0.67      0.80         3

    accuracy                           0.75         4
   macro avg       0.75      0.83      0.73         4
weighted avg       0.88      0.75      0.77         4